*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
}
.container .back-vid{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.cover{
    position: fixed;
    inset: 0 0 0 0;
    background-color: #526bd82d;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.121);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #72a1dea2;
    z-index: 999;
}
.left{
    display: flex;
    align-items: center;
}
header ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 69, 0.326);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #72a1dea2;
}
header ul li{
    list-style: none;
}
header ul a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.3s;
    margin: 0 10px;
}
header ul a:hover{
    text-shadow: 0 0 15px black;
}
.box-icons{
    display: flex;
    gap: 40px;
}
.box-icons p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #72a1dea2;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
.box-icons p:hover{
    background-color: #72a1dea2;
    color: black;
    box-shadow: 0 0 15px #72a1dea2;
}
.blackhole-box{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
    mix-blend-mode: lighten;
}
.blackhole-box video{
    width: 100%;
    margin-top: -23.5%;
}
.hero{
    position: relative;
    display: flex;
    width: 100%;
    height: 77vh;
    align-items: center;
    justify-content: space-between;
}
.hero-info{
    position: absolute;
    left: 5%;
}
.hero-info .title{
    color: #72a1de;
    text-align: center;
    padding: 8px 5px;
    border-radius: 50px;
    border: 1px solid #72a1de94;
    width: 280px;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de84;
}
.hero-info h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.hero-info p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;   
}
.hero-info button{
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #72a1de81;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de81;
    cursor: pointer;
    transition: 0.3s;
}
.hero-info button:hover{
    box-shadow: 0 0 15px #72a1de81;
}

.gradient{
    background: linear-gradient(to right, #008baa, #7e42a7, #6070fd, #2a46ff, #0099ff, #008baa);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient{
    to{
        background-position: 200%;
    }
}

.astronaut{
    position: absolute;
    right: 5%;
    height: 400px;
    mix-blend-mode: lighten;
}

.about-section{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}
.info-card{
    display: flex;
    align-items: center;
    max-width: 120px;
}
.info-card h1{
    background: linear-gradient(to right, #008baa, #7e42a7, #6070fd, #2a46ff, #0099ff, #008baa);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;   
    font-size: 55px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.info-card p{
    color: white;
    font-size: 20px;
}


@media(max-aspect-ratio: 16/9){
    .back-vid{
        width: auto;
        height: 100%;
    }
}
@media(min-aspect-ratio: 16/9){
    .back-vid{
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 1000px){
    .blackhole-box video{
        margin-top: -20%;
    }

    .hero-info h1{
        font-size: 40px;
        max-width: 400px;
    }

    .hero-info p{
        max-width: 300px;
    }

    .hero img{
        height: 300px;
    }

    .about-section{
        padding: 10px;
        width: 90%;
    }

    .info-card h1{
        margin-right: 5px;
    }
}
@media screen and (max-width: 700px){
    header ul{
        display: none;
    }

    .blackhole-box video{
        margin-top: -11%;
    }

    .about-section{
        width: 80%;
        flex-wrap: wrap;
    }

    .hero{
        flex-direction: column;   
    }

    .hero-info{
        bottom: 10px;
    }

    .hero img{
        height: 200px;
        right: 100px;
        top: 70px;
    }

    .container{
        height: 100%;
    }
}
